<%- include('partials/header'); -%>

<div class="ui main text container segment">
    <div class="ui huge header" style="text-align: center;">
        <%= blog.title %> 
    </div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>"><br>
            <div class="content">
                <span>
                    <%= blog.created.toDateString() %>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="ui main text container segment" style="margin-top: 3px;">
    <div class="ui top attached">
        <div class="item">
            <div class="description">
                <p> 
                    <%- blog.body %>
                </p>
            </div>
            <a href="/blogs/<%= blog._id %>/edit">
                <button style="margin-top: 15px;" class="ui orange basic button">Edit this Blog</button>
            </a>
            <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button style="margin-top: 15px;" class="ui red basic button">Delete this Blog</button>
            </form>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>